* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    background-color: black;
    padding: 0px 0px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 72px;
    width: auto;
}

.enlace-logo {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.enlace-logo:hover {
    transform: scale(1.1);
}

.enlace-logo img {
    display: block;
}

.navegador {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1500px; /* Ajustable a tu diseño */
    height: 115px;
    margin: 0 auto;
    padding: 0px 0px;
}

.navbar {
    margin-left: 150px;
    flex-grow: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 23px; /* Espaciado solicitado de 23 */
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Forum', serif;
    font-size: 22.3px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
}



/* Línea inferior */
.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #27d0dc; /* Azul */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

/* Hover */
.navbar ul li a:hover {
    color: #27d0dc; /* Texto azul */
}

/* Animación de la línea */
.navbar ul li a:hover::after {
    width: 70%;
}

.btn-reserva {
    background-color: #27d0dc;
    color: #1e1e1e;
    font-family: 'Fraunces', serif;
    font-size: 22.3px;
    border: none;
    padding: 8px 15px;
    border-radius: 35px; /* Esquinas redondeadas */
    cursor: pointer;
    transition: all 0.3s ease; /* Para que la animación sea suave */
}

.btn-reserva:hover {
    transform: scale(1.1); /* Se agranda un 10% */
    box-shadow: 0 0 15px #ffffff; /* Efecto de iluminación */
    color: black;
}




footer {
    background-color: black;
    padding: 0px 0px;
    width: 100%;
}

.pie-pagina {
    display: flex;
    justify-content: space-between; /* Distribuye los 3 bloques con espacio entre ellos */
    align-items:center;           /* Alinea todo verticalmente al centro */
    max-width: 1500px;
    margin: 0 auto;
    padding: 2px 0px;
    text-align: center;
    gap: 26px;
}

.pie-pagina h4 {
    font-family: 'Forum', serif;
    font-size: 12.3px;
    color: #ffffff;
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.pie-pagina p {
    font-family: 'Forum', serif;
    font-size: 12.3px;
    color: #ffffff;
    margin: 5px 0;
}

.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top: 2px;
}

.redes-sociales {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.redes-sociales .icono-social img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.redes-sociales .icono-social img:hover {
    transform: scale(1.1);
}

.pie-pagina .logo img {
    height: 72px; /* Tamaño del logo del footer */
    width: auto;
}

.contenedor-iconos {
    display: flex;
    flex-direction: row; /* Mantiene los iconos UNO AL LADO DEL OTRO */
    gap: 10px;           /* Espacio entre Facebook e Instagram */
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
}

.copyrith p {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.info-item1,
.info-item2,
.info-item3 {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre título y texto */
}

.info-item1 h4,
.info-item1 p,
.info-item2 h4,
.info-item2 p,
.info-item3 h4,
.info-item3 p {
    margin: 0;
}


/* Administrador*/

/* Contenedor del icono (puedes cambiar el tamaño aquí) */
        .admin-icon-container {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .admin-icon-container:hover {
            transform: scale(1.05);
        }

        .admin-svg {
            width: 100%;
            height: 100%;
            fill: #27d0dc; 
            stroke: #27d0dc;
            stroke-width: 0.5;
        }

